.nav__contents {
	display: flex;
	justify-content: space-between;
}

.nav__logo {
	left: 0;
	top: 10px;
	position: fixed;
	width: 80px;
	object-fit: contain;
	padding-left: 20px;

	cursor: pointer;
}

.nav__avatar {
	right: 20px;
	position: fixed;
	width: 30px;
	border-radius: 20px;
	cursor: pointer;
}

.nav__black {
	background-color: rgba(17, 17, 17, 0.884);
}

.nav {
	position: fixed;
	top: 0;
	padding: 20px;
	width: 100%;
	height: 30px;
	z-index: 1;

	transition: all 0.2s ease-in;
}
