.row {
	color: white;
	margin-left: 20px;
}

.row__posters {
	display: flex;
	overflow-y: hidden;
	overflow-x: scroll hidden;
	padding: 20px;
}

.row__posters::-webkit-scrollbar {
	display: none;
}

.row__poster {
	height: 100px;
	width: 177.766px;
	margin-right: 10px;
	transition: transform 450ms;
	border-radius: 10px;
	object-fit: contain;
	/* background: red */
}

.row__poster:hover {
	cursor: pointer;
	transform: scale(1.08);
	opacity: 1;
}

.row__posterLarge {
	height: 250px;
	border-radius: 20px !important;
	width: 166.734px;
}

.row__posterLarge:hover {
	transform: scale(1.09);
}

.row__movieTitle {
	color: rgba(255, 255, 255, 0.274);
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 180px;
}
