.skeleton__banner {
	position: relative;
	background-color: #1f1e1e;
}

.skeleton__content {
	margin-left: 1.6em;
	padding-top: 8.75em;
	padding-bottom: 0.3rem;
	height: 10rem;
}

.skeleton__bannerBlock {
	background-color: #313131;
	height: 15px;
	margin-bottom: 5px;
}

.skeleton__bannerBlock.block1 {
	margin-top: 90px;
	width: 40%;
}
.skeleton__bannerBlock.block2 {
	width: 60%;
}
.skeleton__bannerBlock.block3 {
	width: 80%;
}

.skeleton--fadeBottom {
	height: 7.4rem;
	background-image: linear-gradient(
		180deg,
		transparent,
		rgba(37, 37, 37, 0.61),
		#111
	);
}

.skeleton {
	animation: skeleton 1s ease infinite alternate;
}

@keyframes skeleton {
	to {
		opacity: 0.5;
	}
}
